.main {
    transform: translateY(10rem);
    display: block;
    margin: 0 auto;
    width: 80rem;
    text-align: center;

    &__question {
       border-bottom: .2rem solid $color-red;
       padding: 2rem 2rem;
       color: $color-black;
       font-size: 3.2rem;
    }

    &__options{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 2rem;
    }

    &__button{
        border: none;
        background-color: $color-blue;
        color: #efefef;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border-radius: .2rem;
        cursor: pointer;
        transition: all .1s;
        line-height: 120%;

        &:hover{
            background-color: $color-red;
        }
    }
    &__answer{
        transform: translateY(3rem);
        font-size: 2.5rem;
    }

    #game {
        font-size: 3.2rem;
        color: $color-red;
    }
    #score{
        font-size: 3rem;
        color: $color-blue;
    }

    #restart {
        border: none;
        background-color: $color-black;
        color: #efefef;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border-radius: .2rem;
        cursor: pointer;
        transition: all .1s;
        line-height: 120%;

        &:hover{
            background-color: $color-black;
        }
    }
}