@import "normalize";
@import "variables";
@import "animate";

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: $font;
}

body {
    font-size: inherit;
    box-sizing: inherit;
    font-family: inherit;
    background: #efefef;
    position: relative;
    width: 100vw;
    overflow-x:hidden; 

    @media screen and (max-width:845px) {
       font-size: 80%;
    }
    @media screen and (max-width:800px) {
        font-size: 50%;
        min-width: 100vw;
    }
}

@import "header";
@import "main";
